html {
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Lato', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.4;
}

body {
    margin: 1em auto;
    max-width: 1200px;
}

.error {
    padding: 1em;
    background-color: #fed7d8;
    border: 1px solid #ef9a9b;
}

@media screen and (min-width: 600px) {
    .toc {
        column-count: 2;
    }
}

section.section {
    margin-top: 4em;
}

.edit > table {
    padding: 0.5em 0;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    border-radius: 0.33em;
    border-spacing: 1em 0.2em;
    line-height: 1.2;
}

.edit th {
    text-align: left;
}

.line-index {
    text-align: right;
}

.line-text {
    padding: 0.5em;
    background-color: white;
    border: 1px solid #eaecf0;
    border-radius: 0.33em;
    font-family: monospace;
    overflow-wrap: anywhere;
}

.line-text.live {
    background-color: #fed7d8;
}

.line-status.autocull {
    color: #006700;
}

.line-status.live {
    color: #BC0102;
    font-weight: bold;
}

.line-rules > :not(:last-child)::after {
    content: ', ';
}

.collapse {
    margin-right: 0.25em;
}

a:link, a:visited {
    color: #002bb8;
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: underline;
}

a:active {
    color:#404;
}
